/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

*{
    box-sizing: border-box;
    margin: 0;padding: 0;
   
}
body{  
    margin: 0;
    padding: 0;
     background-color: rgb(36, 36, 36);
     font-family: system-ui;
    font-weight: bold;
 }
 nav{
     /* background-color: black;
      */
      /* background-color: rgb(36, 36, 36);
       */
       background-color: rgb(0, 0, 0);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 10px 10px 10px;

 }
 .logo img{
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    margin-left: 30px;
 }
.search{

    display: flex;
    justify-content: space-between;
    float: right;
    
}
 form.example input[type=text] {
    padding: 10px;
    font-size: 11px;
    border: none;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 8px 0px 0px 8px;

  }
  

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #3b3b3b;
    color: white;
    font-size: 12px;
    border: none;
    border-left: none; 
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
  
  }
  
  form.example button:hover {
    background: #2c2c2c;
  }
  


.row{
    /* background-color: rgb(0, 0, 0);
     */
     background-color: rgb(20, 20, 20);
    text-align: center;
    padding: 20px 0;
}
.row img{

    width: auto ;
    padding: 5px;
    display: inline-block;
    transition: transform .2s;
    border-radius: 10px;
  
}
.row img:hover{
    
    transform: scale(1.1);
}
footer{
  
    background-color: rgb(15, 15, 15);
    /* background-color: rgb(255, 255, 255) ; */
    width: auto;
    text-align: center;
    padding: 20px;
    
}
footer a{
    text-decoration: none;
    color:rgb(46, 46, 46);
    padding: 10px;
    font-size: 30px;

}
footer h2{
    color: rgb(0, 0, 0);
}
footer p{
    padding: 10px 10px;
    color: rgb(151, 151, 151);
    font-size: 10px;
    text-align: center;
}
.contact{
    color: rgb(255, 255, 255);
}
.contact a{
    transition: transform 1.2s;
}
.contact a:hover{
    transition: transform 1.2s;
}

@media screen and (max-width: 56300px){
    body{
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgb(36, 36, 36);
    }
 
    footer h2{
        font-size: 50px ;
    }
    footer p,hr{
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }
    footer h2{
        font-size: 50px ;
        color: rgb(216, 216, 216);
    }
    footer a{
        padding: 20px;
    }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
        background-color: rgb(36, 36, 36);
    }
    footer p,hr{
       margin-left: 20%;
       margin-right: 20%;
       font-size: 15px;
    }
   
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
      *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
    body {
        margin: 0;
      /* background-color: olive; */
      width: 100%;
      background-color: rgb(36, 36, 36);
    }
  
  
    .row img{
        width: 30%;
    }
    footer p,hr{
        margin-left: 2%;
        margin-right: 2%;
        font-size: 15px;
     }
     footer h2{
        font-size: 30px ;
    }
    footer a{
        padding: 20px;
    }
}