/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

*{
    box-sizing: border-box;
    margin: 0;padding: 0;
   
}
body{  
    margin: 0;
    padding: 0;
     background-color: grey;
     font-family: system-ui;
    font-weight: bold;
 }

.row{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}
.row img{

    width: auto ;
    padding: 5px;
    display: inline-block;
    transition: transform .2s;
    border-radius: 10px;
  
}
.row img:hover{
    
    transform: scale(1.1);
}
header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0) ;
    color: rgb(80, 80, 80);
}

header .search{
    display: flex;
    padding: 15px;
    justify-content: space-around;
}
.search span{
    padding: 0 10px 5px 5px;
    color: black;
    background-color: black;
}


header .logo{
    display: flex;
    justify-items: center;
    align-content: center;
    float: left;
    color: white;
    padding: 15px;
}
.heavan{
    padding: 2px 5px;
    font-weight: bold;
    
}
.headertext{
    font-size: 20px;
    padding: 2px 5px;
    color: grey;
    border-radius: 5px;
    animation-name: example;
    animation: example 4s ease-out infinite;
   
}
@keyframes example {
   
    0%   {color:rgb(255, 57, 57);}
    25%  {color:rgb(255, 255, 58);}
    50%  {color:rgb(59, 183, 255);}
    75%  {color:rgb(92, 255, 92);}
    100% {color:rgb(249, 67, 255); }
    
}
nav{
    background-color: rgb(245, 245, 245);
    padding: 10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;

}

nav img{
    border-radius: 20px;
    width: 90%;
    text-decoration: none;
    color: rgb(34, 34, 34);
    padding: 10px;
    text-decoration: none;
    transition: transform .2s; 
    animation: slider 5s ease-in infinite;    
}


nav img:hover{
    transform: scale(1.1);
}


footer{
  
        
    background-color: rgb(255, 255, 255) ;
    width: auto;
    text-align: center;
    padding: 20px;
    
}
footer a{
    text-decoration: none;
    color:rgb(46, 46, 46);
    padding: 10px;
    font-size: 30px;

}
footer h2{
    color: rgb(0, 0, 0);
}
footer p{
    padding: 10px 10px;
    color: rgb(105, 105, 105);
    font-size: 10px;
    text-align: center;
}
.contact{
    color: rgb(255, 255, 255);
}
.contact a{
    transition: transform 1.2s;
}
.contact a:hover{
    transition: transform 1.2s;
}

@media screen and (max-width: 56300px){
    body{
        margin-left: 10%;
        margin-right: 10%;
    }
    nav a{
        font-size: 18px ;
    }
    footer h2{
        font-size: 50px ;
    }
    footer p,hr{
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }
    footer h2{
        font-size: 50px ;
    }
    footer a{
        padding: 20px;
    }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: rgb(235, 235, 235);
    }
    footer p,hr{
       margin-left: 20%;
       margin-right: 20%;
       font-size: 15px;
    }
   
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
      *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
    body {
        margin: 0;
      /* background-color: olive; */
      width: 100%;
    }
    header{
        width: 100%;
        height: auto;
    }
    nav{
        width: 100%;
    }
    nav a{
        font-size: 12px;
    }
    .row img{
        width: 30%;
    }
    footer p,hr{
        margin-left: 2%;
        margin-right: 2%;
        font-size: 15px;
     }
     footer h2{
        font-size: 30px ;
    }
    footer a{
        padding: 20px;
    }
}