@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;padding: 0;
   
}
body{  
    margin: 0;
    padding: 0;
     background-color: rgb(55, 55, 55);
    font-family: helvetica;
    font-weight: bold;
 }

.row{
    background-color: gray;
    text-align: center;
    padding: 20px 0;
}
.row img{

    width: auto ;
    padding: 5px;
    display: inline-block;
    transition: transform .2s;
    border-radius: 10px;
  
}
.row img:hover{
    
    transform: scale(1.1);
}
header{
    display:flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

header .search{
    display: flex;
    float: right;
    background-color: black;
    color: white;
    padding: 15px;
    justify-content: space-around;
}

header .logo{
    display: flex;
    float: left;
    background-color: black;
    color: white;
    padding: 15px;
}
.yellowhub{
    background-color: rgb(255, 174, 0);
    padding: 2px 5px;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    
}
.headertext{
    background-color: rgb(0, 0, 0);
    padding: 2px 5px;
    color:white;
    border-radius: 5px;
}
nav{
    background-color: rgb(31, 31, 31);
    padding: 10px;

}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;  
}

nav a:hover{
    color: rgb(255, 174, 0);
}


footer{
  
    background-color: rgb(31, 31, 31);
    width: auto;
    text-align: center;
    padding: 20px;
    
}
footer a{
    text-decoration: none;
    color:white;
    padding: 10px;
    font-size: 30px;

}
footer p{
    padding: 10px 10px;
    color: white;
    font-size: 10px;
}
.contact{
    color: white;
}
.contact a{
    transition: transform 1.2s;
}
.contact a:hover{
    transition: transform 1.2s;
}

@media screen and (max-width: 56300px){
    body{
        margin-left: 10%;
        margin-right: 10%;
    }
    nav a{
        font-size: 18px ;
    }
    footer h2{
        font-size: 50px ;
    }
    footer p,hr{
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }
    footer h2{
        font-size: 50px ;
    }
    footer a{
        padding: 20px;
    }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: rgb(71, 71, 71);
    }
    footer p,hr{
       margin-left: 20%;
       margin-right: 20%;
       font-size: 15px;
    }
   
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
      *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
    body {
        margin: 0;
      background-color: olive;
      width: 100%;
    }
    header{
        width: 100%;
        height: auto;
    }
    nav{
        width: 100%;
    }
    nav a{
        font-size: 12px;
    }
    .row img{
        width: 30%;
    }
    footer p,hr{
        margin-left: 2%;
        margin-right: 2%;
        font-size: 15px;
     }
     footer h2{
        font-size: 30px ;
    }
    footer a{
        padding: 20px;
    }